.background-page {
    /*background: url(../img/backgroundpage.jpg) no-repeat center;*/
    /*background-size: cover;*/
    width: 100%;
    height: 100vh;

}

html {
    background: url(../img/backgroundpage.jpg) no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
}

.top-menu {
    background: rgba(0, 0, 0, 0.4);
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
}

.top-menu-left-side {
    display: flex;
    align-items: center;
}

.top-menu-margin {
    margin-left: 27px;
}

.logo-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.hover-green:hover .logo-text {
    color: #01813F;;
}

.navi-icon-box {
    display: flex;
    justify-content: space-between;
}

.navi-icon {
    display: block;
}

.hover-green:hover .navi-icon-img {
    fill: #01813F;
}

.top-menu-line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.top-menu-login-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.top-menu-hover-text:hover {
    color: #01813F;
}

.link-non-dec {
    text-decoration: none;
}

.header-size {
    width: 100%;
    height: calc(100% - 63.1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-modal-box {
    /*width: 444px;*/
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px;
    position: relative;
}

.modal-box-top-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-box-top-text:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 32px;
    background: #3CB878;
}

.sign-up-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.login-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.login-text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #01813F;
}

.modal-button-box {
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.facebook-button {
    background: #305DB8;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    width: 160px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.facebook-button:hover {
    background: #022263;
}

.facebook-button:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook-button-icon {
    margin-left: 8px;
}

.google-button {
    background: #DF4A32;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    margin-left: 4px;
    width: 160px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.google-button:hover {
    background: #AB1F09;
}

.google-button:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.button-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 45px;
}

.or-box {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    position: relative;

}

.or-box:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: calc(50% + 8px);
}

.or-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    padding-right: 4px;
    padding-left: 4px;
}

.reg-form {
    margin-top: 25px;
}

.reg-item {
    margin-top: 15px;
    padding: 15px 0 15px 15px;
    display: block;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    width: calc(100% - 15px);
}

.focus-item:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
    outline: 0;
    outline-offset: 0
}

.fake-form-label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    display: flex;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;
}

.label-text-green {
    color: #3CB878;
    text-decoration: none;
}

.label-text:hover .label-text-green {
    text-decoration: underline;
    /*cursor: pointer;*/
    color: #01813F;
}

.fake-form-input-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.fake-form-input-checkbox:checked ~ .checkbox-btn > .checkbox-checkmark {
    width: 20px;
    height: 20px;
    /*border: 2px solid transparent;*/
    /*stroke: #01813F;*/
    background: url("../img/checked_icon2.svg") no-repeat center;
    background-size: cover;
}

.checkbox-btn {
    width: 20px;
    height: 20px;
    background: url("../img/checked_icon.svg") no-repeat center;
    background-size: cover;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.submit-button {
    margin-top: 20px;
    padding: 15px 0 15px 15px;
    display: block;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
}

.submit-button:hover {
    background: #01813F;
}

