* {
    font-family: sans-serif;
}
* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.text-yellow {
    color: #F48E0B;
}

.hero {
    background: url("../img/image.png") no-repeat center;
    background-size: cover;
    padding-top: 530px;
    padding-bottom: 150px;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}.hero-subtitle {
     font-weight: normal;
     font-size: 18px;
     line-height: 22px;
     color: #FFFFFF;
     margin: 15px 0 20px;
 }
.hero-slogan {
    width: fit-content;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    padding-right: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
}
.hero-slogan-accent {
    display: inline-block;
    padding: 40px 25px 40px 30px;
    margin-right: 2px;
    border-right: 1px solid #F48E0B;

}
.text-block {
    text-align: center;
}
.text-block-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
}
.text-block-desc {
    margin-top: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
}
.text-block-line {
    border-top: 7px solid #F48E0B;
    margin-right: auto;
    margin-left: auto;
    margin-top: 46px;
    width: 62px;
    height: 7px;

    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
}
.text-block-img {
    margin-top: 55px;
}
.achievements {
    padding: 70px 0 30px;
}
.navigation {
    padding: 22px 0;
    border-bottom: 3px solid #F1B128;
}

.navigation-company {
    display: inline-block;
    margin-right: 247px;
    font-size: 28px;
    font-weight: bold;
    color: #F1B128;
    vertical-align: top;
}

.navigation-menu {
    width: 70%;
    display: inline-block;
    list-style: none;
}

.navigation-menu-item {
    display: inline-block;
    margin-left: 69px;
    vertical-align: top;
}

.navigation-menu-item-first {
    margin-left: 0;
}

.navigation-menu-link {
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
}

.text-yellow {
    color: #F48E0B;
}
.portfolio {
    display: flex;
    justify-content: space-between;
}

.portfolio-types {
    width: calc((100% / 2) - 15px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-type {
    box-sizing: border-box;
    width: calc((100% / 2) - 15px);
    padding: 95px 15px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

.consulting-bg {
    background-image: url('../img/Layer1.png');
}

.photoshop-bg {
    background-image: url('../img/Layer2.png');
}

.web-bg {
    background-image: url('../img/Layer3.png');
}

.advertising-bg {
    background-image: url('../img/Layer4.png');
}

.portfolio-type-title {
    width: 117px;
    padding: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
}

.portfolio-description {
    width: calc((100% / 2) - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-title {

}

.portfolio-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.portfolio-btn {
    align-self: flex-start;
}
.our-portfolio {
    margin-top: 107px;

}

.menu-our-portfolio {
    display: inline-block;
    margin-left: 14px;
    vertical-align: top;
    margin-top: 109px;

}
.menu-our-portfolio-item {
    display: inline-block;
    border: solid 1px;
    padding: 14px 43px;
    margin-right: 16px;

}
.menu-our-portfolio-link {


}
.consulting-img {
    background-image: url('../img/Layer43.png');
}
.consulting-img-2 {
    background-image: url("../img/Layer40.png");
}
.consulting-img-3 {
    background-image: url("../img/Layer41.png");
}
.consulting-img-4 {
    background-image: url("../img/Layer42.png");
}
.our-portfolio-type {
    box-sizing: border-box;
    width: calc((100% / 2) - 15px);
    padding: 16px 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 16px;
    width: 281px;
    height: 271px;
}
.our-portfolio-types {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 44px;
}




.blog {
    height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;

}
.blog-card {
    width: calc((100% / 3) - 20px);
    border-bottom: 6px solid #333333;
}

.blog-card-img {
    width: 100%;
    margin-bottom: 10px;

}
.blog-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.blog-card-icon {
    width: 12px;
    padding: 12px;
    background-color: #333333;
    margin-right: 10px;
}
.blog-card-text {
    font-size: 14px;
    line-height: 17px;
    margin: 15 px 0;
    color: #333333;
}

.blog-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 4px solid #C1C1C1;

}
.blog-card-date {

}

.blog-card-info-text {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
}

.blog-card-more {

a.blog-card-info-text {
    text-decoration: none;
}
